body{
  font-family: 'Courier New', Courier, monospace;
}
div{
  border: solid 1px blue;
  margin:10px;
  width:300px;
}
h1{
  text-align: center;
}
#happy{
  background-color: yellow;
}
img{
  margin-left:20px;
  margin-bottom:20px;
}
#hello{
  position: absolute;
  top:10px;
  left:50%;
}